/*BRANDING>DATAPHONE*/

#branding__presentacion__div__data{
    background-color: #E5FFFF;
}

#data1{grid-area: area1 area4;}

#data-c1{background-color: #FF1D25;}
#data-c2{background-color: #FF6A6F;}
#data-c3{background-color: #B20209; color: $c-gris-blanco}
#data-c4{background-color: #02B2AC;}
#data-c5{background-color: #E5FFFF;}

