/*BRANDING>PATOS DE CANELA*/

#branding__presentacion__div__patos{
    background-color: #EAD9B0;
}

#branding__mockups__pato{gap: 0px;}

#patos-c1{background-color: #DC847A;}
#patos-c2{background-color: #402A22; color: $c-gris-blanco;}
#patos-c3{background-color: #EAD9B0;}
#patos-c4{background-color: #AFD9CA;}
#patos-c5{background-color: #D79EAF;}