/*Titulos index*/
h1{font-size: 9rem;}

.divisor{
    h2{
        font-size: 6rem;
        color: #F2F2F2;
        background-color: #0d0d0d;
        padding: 5% 20%;
        margin: 0%;
    }
    
}


/*INDEX*/

#index_body{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    "header header header header"
    "present present present present"
    "separador separador separador separador"
    "parallax parallax parallax parallax"
    "foot foot foot foot";
}

header{grid-area: header;}
.main__presentacion{grid-area: present;}
.divisor{grid-area: separador;}
.parallax{grid-area: parallax;}
footer{grid-area: foot;}


/*INDEX PRESENTACIÓN*/
.main__presentacion{
    max-width: 60%;
    height: 90vh;
    margin: auto;
    display: flex;

    /*VIDEO EN LOOP PARA HOME*/
    .main__presentacion__loop{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 10%;
    
    }

    /*CONTENIDO AL LADO DEL VIDEO*/
    .main__presentacion__div{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;

        p{
            padding-left: 5%;
            font-size: 1rem;
        }

        .main__presentacion_div_flecha{
            a{
                &:hover{filter:opacity(50%)}
            }
        
            margin:15% auto 0;
            justify-content: flex-end;
            width: 25px;
            z-index: 3;
        }
    }

}

video::-webkit-media-controls{display: none;}

button{
    overflow: hidden;
    border: 0px;
    color: #F2F2F2;
    background-color: #D91E1E;
    font-size: 1.2rem;
    padding: 18px 18px 17px;
    text-decoration: none;
    bottom: 0;
}



/*Sección: Qué vas a encontrar*/
.parallax{
    color: #F2F2F2;
    text-shadow: #0d0d0d 0.1em 0.1em 0.5em;

    a{  color: #F2F2F2;
        width: 150px;
        height: 50px;
        padding: 14px 14px;
        font-size: 22px;
        text-decoration: none;
    }

    .parallax__section {
        margin: 0%;
        padding: 15% 20%;
        max-height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
        h3{ font-size: 6rem;
            color: #F2F2F2;
            text-shadow: #0d0d0d 0.2em 0.2em 0.5em;
        }

        

    }
}

.parallax__section__branding{background-image: url(../../assets/img/parallax_branding.jpg);}
.parallax__section__dis{background-image: url(../../assets/img/parallax_diseño_grafico.jpg);}
.parallax__section__ilus{background-image: url(../../assets/img/parallax_ilustracion.jpg);}

