/*ESTRUCTURA CON GRIDS EN MEDIA QUERY*/

/*TABLET*/
@media screen and (max-width: 1200px){
    header{
        padding: 1% 10%;
        min-height: 10vh;
        nav{width: 0px; height: 0px; font-size: 0px;}
    }
    #burger__icon{width: 30px; height: 30px;}
    footer{padding: 1% 10%;}
    .footer__div__der{
        img{width: 60%;}
    } 

    /*index*/
    h1{font-size: 5rem;}
    .main__presentacion{
        max-width: 90%;
        height: auto;
        min-height: 80vh;
        text-align: start;
        justify-content: center;
        align-items: center;
        
        .main__presentacion__loop{margin-right: 5%;}
        .main__presentacion__div{
            p{padding-left: 1%;}
        } 
    }

    #index_body{
        h2,h3{font-size: 4rem; padding: 1% 2%;}
        main p{font-size: 1rem;}
    } 

    /*index parallax*/
    .parallax{
        a{font-size: 2rem;}
        .parallax__section{padding: 1%, 6%; min-height: 50vh;}
    } 
    

    /*Branding*/
    .brand{
        padding: 0% 10%;
        h2{margin: 0%;padding-bottom: 1%;text-align: start;}
        p{font-size: 1.2rem;}
        section{
            a{font-size: 1.2rem;}
        }
        
        .brand__sec__p{width: 70%; padding: 1%;}
    }

    #branding_body h1{font-size: 4rem;}

    /*Branding proyectos*/
    .branding__presentacion__div img {padding: 0% 0%;height: fit-content;justify-content: center;max-height: 60vh;max-width: 100vw;}

    /*diseño*/
    .acordeon__main{padding: 1% 10%; min-height: 100vh;}
    
    /*ilust*/
    .ilust__main{padding: 2% 10%;}

    /*sobre mi*/
    .mi{padding: 0% 5%;flex-wrap: wrap;}

    /*contacto*/
    .contact__main{padding: 5% 10%;}

}


/*MOBILE-TABLET*/
@media screen and (max-width: 768px){
    html{font-size: 12px;}
    #offcanvas-t{font-size: 4rem;}

    /*index*/
    h1{font-size: 6rem; margin: auto;}
    #index_body{
        main p{font-size: 1.5rem;}
        h2,h3{font-size: 4rem; padding: 1% 2%;}
    }

    .main__presentacion{
        font-size: 2rem;
        max-width: 90%;
        height: auto;
        min-height: 100vh;
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        h1{font-size: 8rem; margin: auto;}
        .main__presentacion__loop{width: 80%; margin:auto}
        .main__presentacion__div{
            width: 100%;
            margin: auto;
            padding: 2%;
            align-items: center; 
        }
        .main__presentacion_div_flecha{margin: auto;}
    }
    
    /*index parallax*/
    .parallax{
        a{font-size: 2rem;}
        .parallax__section{padding: 1%, 6%; min-height: 50vh;}
    } 
    

    /*contacto*/
    .contact__main{padding: 5% 10%;}
    .form{grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        gap: 1rem;
        section{grid-column-start: span 1;}
        .form__s2, .form__s3{
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 100%;
            input {width: 100%;margin: 5% 0%;}
        }
        .form__s4{margin: 5% 0%;}
        .contact__main__contactos {margin: 5% 10%}
    }

    /*Branding proyectos*/

    .branding{
        padding: 0% 5%;
        .branding__presentacion__div{
            img {padding: 0% 0%;
                height: fit-content;
                justify-content: center;
                max-height: 50vh;
                max-width: 100vw;}
        }
    }
     
}


/*MOBILE*/
@media screen and (max-width: 576px){
    html{font-size: 10px;}
    header{
        padding: 1% 5%;
        min-height: 10vh;
        nav{
            width: 0px;
            height: 0px;
            font-size: 0px;
        }
    }

    footer{
        padding: 1% 5%;
        .footer__div__der img{width: 70%;}
    }
    
    #burger__icon{width: 30px; height: 30px;}

    /*index*/
    .main__presentacion{
        min-height: 100vh;
        .main__presentacion__loop{width: 100%;}
    }
    
        
    /*Branding*/
    .brand{
        padding: 0% 2%;
        h2{margin: 0%;padding-bottom: 1%;text-align: start;}
        section{
            a{font-size: 1.2rem;}
        }
        .brand__sec__p{width: 70%; padding: 1%;}
    }

    #branding_body{
        h1{font-size: 4rem;}
    } 

    

    /*Branding proyectos*/
    .branding{
        padding: 0% 5%;
        section{
            li, p{font-size: 1.5rem;}
        }
        .branding__presentacion{
            h1, h2 {font-size: 4rem;}
            .branding__presentacion__div{
                img {padding: 0% 0%;
                    height: fit-content;
                    justify-content: center;
                    max-height: 50vh;
                    max-width: 100vw;}
            }
        } 
        .branding__mockups__div{
            display: block;
            img{margin-bottom: 2%;}
        }
        .branding__proceso{
            h4 {font-size: 3rem;}
        } 
    }
    
    .ver__mas__branding{&, a{padding: 0%;font-size: 1.5rem;}}

     

    /*diseño*/
    .acordeon__main{
        padding: 1% 5%;
         min-height: 100vh;
         h1{font-size: 4rem;}
         h3{font-size: 3.5rem;}
         h4{font-size: 3rem;}
         summary{padding: 10% 2%;}
         details{
            div{font-size: 2rem;padding: 5% 3%;}
         } 
     }
     
    
    /*ilust*/
    .ilust__main{
        padding: 2% 5%;
        .ilust__main__section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
            "img1"
            "img2"
            "img3" 
            "img4"
            "img5"
            "img6"
            "img7"
            "img8"
            "img9"
            "img10"
            "img11";
            align-content: flex-start;}
    }
    

    /*sobre mi*/
    .mi{
        padding: 0% 5%;
        flex-wrap: wrap;
        li, p{font-size: 1.5rem;}
        .mi__main__titulo{
            h1{font-size: 4.5rem;}
        } 
        .mi__main__img {
            height: 40vh;
            background-attachment: scroll;
            img{width: 100%;}
        }
        .mi__p_destacado{font-size: 1.5em;}
    }


    /*contacto*/

    .contact__main{
        padding: 5% 5%;
        .contact__main__contactos {margin: 5% 5%}
    }

    .form{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        gap: 1rem;
        section {grid-column-start: span 1;}
        .form__s2, .form__s3{
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 100%;
            input {width: 100%;margin: 5% 0%;}
        }

        .form__s4{margin: 5% 0%;}
      }
    }



