/*VARIABLES*/

/*COLOR DE FONDO*/
$bg-color-rojo: background-color(#D91E1E);

/*COLOR*/
$c-gris-blanco: #F2F2F2;
$c-gris-negro:#0d0d0d;
$c-rojo:#D91E1E;
$c-violeta:#921ed9;;
$c-azul:#1eacd9;
$c-verde:#1ed974;
$c-amarillo:#d9c61e;
$c-naranja:#d9781e;


